<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap CSS -->
    <!--<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- CSS 2 -->
    <!--<link href="static/css/css2.css" rel="stylesheet">-->

    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--<link rel="shortcut icon" type="image/png" href="/static/img/favicon.ico"/>-->

  <style>
    table {border-collapse:collapse; table-layout:fixed;}
    table td {word-wrap:break-word;}

body {
  padding-top: 56px;
  background-image: url("/static/img/background.png");
  background-color: #cccccc;
}

footer {
    height: 150px;
    bottom: 0;
    width: 100%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255) !important;
} 
    </style>
 </head>
<body>

  <!-- Top Menu -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand text-light" style="cursor: pointer;">4Post</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item loggedlink">
            <a class="nav-link text-white" href="/link">Other Link</a>
          </li>

          <li class="nav-item loggedlink">
            <a href="javascript:logout()" class="nav-link text-white" href="/link">Logout</a>
          </li>
      
          <li class="nav-item nologgedlink">
            <a href="/login" type="button" class="btn btn-outline-light">Login</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


    {% block content %}{% endblock %}


	<!-- Footer -->
  <footer class="py-5 bg-primary">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 4Post</p>
    </div>
  </footer>



  <script>

    window.onload = function() {
      
      var id = localStorage.getItem("sessionid");

      if(window.location.pathname!="/login"){

        if(id==null){
          window.location.href = '/login';
        }

        set_navbar(true);

        if(window.location.pathname=="/index"){ index_load();}

        if(window.location.pathname.includes("post/")){ post_load();}

        if(window.location.pathname.includes("profile/")){ profile_load();}

      }else{

        if(id!=null){
          window.location.href = '/index';
        }

        set_navbar(false);

      }

    };

    function set_navbar(logged){

      if(logged){ var l="block"; var nl="none"}else{ var l="none"; var nl="block"}

      var test = document.getElementsByClassName("loggedlink");
      for(var i=0;i<test.length;i++){ test[i].style.display=l}
      var test = document.getElementsByClassName("nologgedlink");
      for(var i=0;i<test.length;i++){ test[i].style.display=nl}

    }

    function logout(){

      localStorage.removeItem("sessionid");
      window.location.href = '/login';

    }

    function index_load(){

      var id = localStorage.getItem("sessionid");

      var xhr = new XMLHttpRequest();
      xhr.open("POST", 'http://'+window.location.host+'/api/posts', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
          'sessionid': id
      }));

      xhr.onreadystatechange = function() { 

        if (xhr.readyState == 4 && xhr.status == 200){

          var r = JSON.parse(xhr.responseText);

          var content = "";

          for(var i = 0; i<Object.keys(r).length; i++){

            if(r[i]['like']){
              var imgname = "like1.png";
            }else{
              var imgname = "like2.png";
            }

            content = content + '<div class="card"><div class="card-body"><h5 class="card-title text-dark">'+r[i]['title']+'</h5><a href="/profile/'+r[i]['userid']+'" class="card-subtitle mb-2 text-muted">From '+r[i]['username']+'</a><p class="card-text text-dark">'+r[i]['phrase']+'</p><a class="card-subtitle mb-2 text-muted">'+r[i]['date']+' </a>&nbsp;&nbsp;<i style="cursor: pointer;" onclick="like(this)" id="icon,'+r[i]['id']+'"><img src="/static/img/'+imgname+'" height="25" width="25"></i>&nbsp;<a class="text-danger"><i id="count,'+r[i]['id']+'">'+r[i]['likes']+'</i> Likes</a><a href="/post/'+r[i]['id']+'" class="card-link">&nbsp;&nbsp;&nbsp;&nbsp;Comment →</a></div></div><br>'
          
          }

          if(content==""){

            content = "<br><br><br><center><p>No posts available</p></center><br><br><br>"

          }

          document.getElementById("postsarea").innerHTML = content;

        }

      }

    }


    function post_load(){

      var id = window.location.pathname.split("/").slice(-1)[0];
      var sessionid = localStorage.getItem("sessionid");

      var xhr = new XMLHttpRequest();
      xhr.open("POST", 'http://'+window.location.host+'/api/singlepost', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
          'postid': id,
          'sessionid': sessionid
      }));

      xhr.onreadystatechange = function() { 

        if (xhr.readyState == 4 && xhr.status == 200){

          var r = JSON.parse(xhr.responseText);

          if(r['like']){
            var imgname = "like1.png";
          }else{
            var imgname = "like2.png";
          }

          var content = '<center><font size="+2"><h1>'+r['title']+'</h1><a href="/profile/'+r['userid']+'" class="card-subtitle mb-2 text-muted">From '+r['username']+'</a><p>'+r['phrase']+'</p><a class="mb-2 text-muted">'+r['date']+' </a>&nbsp;&nbsp;&nbsp;<i style="cursor: pointer;" onclick="like(this)" id="icon,'+r['id']+'"><img src="/static/img/'+imgname+'" height="30" width="30"></i>&nbsp;<a class="text-danger"><i id="count,'+r['id']+'">'+r['likes']+'</i> Likes</a></font></center>';

          document.getElementById("singlepostarea").innerHTML = content;

          var c = r['comments'];
          content = "";

          for(var i = 0; i<Object.keys(c).length; i++){

            content = content + '<a href="'+c[i]['userid']+'" class="text-dark"><b>'+c[i]['username']+'</b></a>&nbsp;&nbsp;<a class="text-muted">'+c[i]['date']+'</a><p>'+c[i]['comment']+'</p><hr>'

          }

          document.getElementById("commentsarea").innerHTML = content;
          
        }

      }

    }

    function profile_load(){

      var userid = window.location.pathname.split("/").slice(-1)[0];
      var id = localStorage.getItem("sessionid");

      var xhr = new XMLHttpRequest();
      xhr.open("POST", 'http://'+window.location.host+'/api/profile', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
          'sessionid': id,
          'userid': userid
      }));

      xhr.onreadystatechange = function() { 

        if (xhr.readyState == 4 && xhr.status == 200){

          var p = JSON.parse(xhr.responseText);

          document.getElementById("nickname").textContent = p['username'];
          document.getElementById("description").textContent = p['description'];
          document.getElementById("role").textContent = p['role'];

          if(p['followed']){
            document.getElementById("notfollowed").style.display = "none";
            document.getElementById("followed").style.display = "inline-block";
          }else{
            document.getElementById("notfollowed").style.display = "inline-block";
            document.getElementById("followed").style.display = "none";
          }

        }

      }

    }


    function like(o){

      var postid = o.id.split(",")[1];
      
      if(o.getElementsByTagName('img')[0].src.includes("like2")){

        o.getElementsByTagName('img')[0].src = "/static/img/like1.png";
        document.getElementById("count,"+postid).textContent = parseInt(document.getElementById("count,"+postid).textContent)+1;
        var likeb = true;

      }else{

        o.getElementsByTagName('img')[0].src = "/static/img/like2.png";
        document.getElementById("count,"+postid).textContent = parseInt(document.getElementById("count,"+postid).textContent)-1;
        var likeb = false;

      }

      var id = localStorage.getItem("sessionid");

      var xhr = new XMLHttpRequest();
      xhr.open("POST", 'http://'+window.location.host+'/api/like', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.send(JSON.stringify({
          'sessionid': id,
          'postid': postid,
          'like': likeb
      }));

      xhr.onreadystatechange = function() { 

        if (xhr.readyState == 4 && xhr.status == 200){

          //nothing

        }

      }

    }

  </script>


  <!-- Bootstrap JavaScript 
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
