<html lang="en-US">
<head>
    <title>Profile</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap CSS -->
    <!--<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- CSS 2 -->
    <!--<link href="static/css/css2.css" rel="stylesheet">-->

    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="shortcut icon" type="image/png" href="/static/img/icon.ico"/>

  <style>
    table {border-collapse:collapse; table-layout:fixed;}
    table td {word-wrap:break-word;}

body {
  padding-top: 56px;
  background-image: url("/static/img/background.png");
  background-color: #cccccc;
}

footer {
    height: 150px;
    bottom: 0;
    width: 100%;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255) !important;
} 
    </style>
 </head>
<body>

  <!-- Top Menu -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary fixed-top">
    <div class="container">
      <a href="/" class="navbar-brand text-light" style="cursor: pointer;"><img src="/static/img/icon.png" alt="" class="float-right" height="50" width="79"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item loggedlink">
            <a href="javascript:logout()" class="nav-link text-white" href="/link">Logout</a>
          </li>
      
          <li class="nav-item nologgedlink">
            <a href="/login" type="button" class="btn btn-outline-light">Login</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<br>

<div class="container">

<br>
 

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item active">Profile</li>
</ol>


<br>


<div class="card" style="max-width: 40.5em; margin:0 auto;">
  <div class="card-body">
    <center><h3>Profile Information</h3></center>
    <img src="/static/img/imgprofilo.png" alt="" class="float-right" height="100" width="100">
    <br>
    <u>Nickname:</u> <a id="nickname"></a>
    <br>
    <u>Description:</u> <a id="description"></a>
    <br>
    <u>Role:</u> <a id="role"></a>
    <br><br>
    <a class="btn btn-success" id="notfollowed" onclick="follow(this.id)"><i class="fa fa-plus"></i> Follow</a>
    <a class="btn btn-secondary" id="followed" onclick="follow(this.id)"><i class="fa fa-check"></i> Followed</a>
    

    <!-- aggiungi pulsante follow-->

    <!--
    <u>email:</u> {{email}}
    <br>
    <br>
    <br>
    <a href="/modificaprofilo" class="text-right">Modifica Profilo →</a>
    <br>
    <a href="/cambiopassword" class="text-right">Cambio Password →</a>
    -->

  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<!--<center><h3>Posts published</h3></center>-->
<br>


</div>



<script>

  function follow(btn){

    document.getElementById(btn).disabled = true;

    var userid = window.location.pathname.split("/").slice(-1)[0];
    var id = localStorage.getItem("sessionid");

    if(btn=="followed"){
      var follow=false;
    }else{
      var follow=true;
    }

    var xhr = new XMLHttpRequest();
    xhr.open("POST", 'http://'+window.location.host+'/api/follow', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
        'sessionid': id,
        'userid': userid,
        'follow': follow
    }));

    xhr.onreadystatechange = function() { 

      if (xhr.readyState == 4 && xhr.status == 200){

        document.getElementById(btn).disabled = false;

        if(follow){
          document.getElementById("notfollowed").style.display = "none";
          document.getElementById("followed").style.display = "inline-block";
        }else{
          document.getElementById("notfollowed").style.display = "inline-block";
          document.getElementById("followed").style.display = "none";
        }

      }

    }

  }

</script>




<!-- Footer -->
  <footer class="py-5 bg-primary">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 4Post</p>
    </div>
  </footer>


  <!-- Bootstrap JavaScript 
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  
  <script src="/static/init.js"></script>
</body>
</html>
